.orders-wrapper {

    .orders_selection-box {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        .orders_selection-type, .orders_selection-specification {
            display: flex;
            align-items: center;

            p {
                color: #A6B6BE;
                margin: 0px 15px 0px 25px;
            }
        }
        .type, .specification {
            border: 1px solid #DEE4E7;
            width: 200px;
        }
    }

    .order-block {
        background-color: white;
        background-color: white;
        margin-top: 20px; 
        margin-bottom: 20px; 
        padding: 15px;
        border-radius: 10px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
        
        &:hover {
            cursor: pointer;
            background-color: #fdf8f8;
            box-shadow: none;
        }

        
        .order-details {
            display: flex;
            align-items: center;
            justify-content: space-around;
            position: relative;

            p {
            color: #738892;
            }

            .delete-btn {
                width: 25px;
            }
            .order-details__close {
                position: absolute;
                top: -95px;
                right: -25px;
                background: transparent;
                border: none;
                font-size: 24px;
                color: #A6B6BE;
                cursor: pointer;
                transition: color 0.2s ease;
                width: 25px;
                background-color: white;
                border-radius: 50%;
                box-shadow: 4px 0 6px -2px rgba(0, 0, 0, 0.2);

                 &:hover {
                    color: #000;
                }
            }
        }
    }
}